<div class="card">
  <!-- Card header -->
  <div class="card-header card-header-primary">
    <h4 class="card-title">Entity List</h4>
    <p class="card-category">Using the map42 API and data-base</p>
  </div>
  <!-- /Card header -->
  <!-- Card body -->
  <div class="card-body">
    <div class="row mb-3">
      <div class="col-md-7">
        <a routerLink="create" class="btn btn-primary d-block d-md-inline-block">Create entity</a>
      </div>
      <div class="col-md-5 d-flex align-items-baseline">
        <label for="sort-by" class="mr-2">Sort</label>
        <select name="sort-by" id="sort-by" class="form-control" [(ngModel)]="sortBy">
          <option value="name">Name</option>
          <option value="dateTicks">Date</option>
        </select>
      </div>
    </div>

    <!-- List -->
    <div class="table-responsive" *ngIf="entities$ | async | sortBy:sortBy as entities">
      <table class="table">
        <thead class="text-primary">
          <th>Name</th>
          <th>Date</th>
          <th></th>
        </thead>
        <tbody>
          <app-entity-item [entity]="entity" *ngFor="let entity of entities"></app-entity-item>
        </tbody>
      </table>
    </div>
  </div>
  <!-- /List -->
  <!-- /Card body -->
</div>