<form [formGroup]="entityForm" (ngSubmit)="onSubmit()">

  <!-- Name -->
  <mat-form-field class="mt-3" floatLabel="always">
    <mat-label>Name</mat-label>
    <input matInput [formControl]="entityForm.get('name')">
    <mat-error *ngIf="entityForm.get('name').invalid">
      <app-form-error-handler [errors]="entityForm.get('name').errors"></app-form-error-handler>
    </mat-error>
  </mat-form-field>

  <!-- Description -->
  <mat-form-field class="mt-3" floatLabel="always">
    <mat-label>Description</mat-label>
    <input matInput [formControl]="entityForm.get('description')">
    <mat-error *ngIf="entityForm.get('description').invalid">
      <app-form-error-handler [errors]="entityForm.get('description').errors"></app-form-error-handler>
    </mat-error>
  </mat-form-field>

  <!-- Date -->
  <mat-form-field class="mt-3" floatLabel="always">
    <mat-label>Date</mat-label>
    <input class="cursor-pointer" matInput [matDatepicker]="picker" [formControl]="entityForm.get('date')"
      (click)="picker.open()" autocomplete="off" readonly>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="entityForm.get('date').invalid">
      <app-form-error-handler [errors]="entityForm.get('date').errors"></app-form-error-handler>
    </mat-error>
  </mat-form-field>

  <!-- Amount -->
  <mat-form-field class="mt-3" floatLabel="always">
    <mat-label>Amount</mat-label>
    <input type="number" matInput [formControl]="entityForm.get('amount')">
    <mat-error *ngIf="entityForm.get('amount').invalid">
      <app-form-error-handler [errors]="entityForm.get('amount').errors"></app-form-error-handler>
    </mat-error>
  </mat-form-field>

  <!-- Privacy -->
  <label id="example-radio-group-label"><small>Privacy</small></label>
  <mat-radio-group class="d-flex flex-column" color="primary" formControlName="privacy">
    <mat-radio-button value="private">Private</mat-radio-button>
    <mat-radio-button value="public">Public</mat-radio-button>
  </mat-radio-group>

  <div class="mt-4 text-right">
    <button type="button" class="btn btn-link" routerLink="/entity">Go back</button>
    <button type="submit" class="btn btn-primary" [attr.disabled]="this.entityForm.disabled ? true : null">
      {{ isEdit ? 'Save' : 'Create'}}
    </button>
  </div>
</form>